{{! Parameters:
- title: Title of the post
- description: Description of the post
- author: Author of the post
- created: Date the post was created
- image: Image to display in social media
- siteName: Name of the site
- site: Site domain
- slug: path of the post
- me: URL of the author

- pageMetadata: List of {slug, title}
- contentHtml: HTML content of the post
- prev: {slug, title}
- next: {slug, title}
}}
<!DOCTYPE HTML>
<html lang="en" dir="auto">

{{> head}}

<body>
    <header>
        <h1><a rel="author" href="/" class="h-card p-author">{{author}}</a>
        </h1>
        <nav>
            <a href="/">Home</a>
            {{#pageMetadata}}
            <a href="{{slug}}.html">{{title}}</a>
            {{/pageMetadata}}
        </nav>
    </header>
    <article>
        <h2>{{title}}</h2><time class="dt-published" datetime="{{created}}" pubdate itemprop="datePublished"
            content="{{created}}">{{created}}</time>
        <section>{{{contentHtml}}}</section>
        </div>
    </article>
    <footer>
        <nav>
            &lt; <a href="{{prev.slug}}.html">{{prev.title}}</a>
        </nav>
        <nav>
            &gt; <a href="{{next.slug}}.html">{{next.title}}</a>
        </nav>
    </footer>
</body>

</html>